* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

    header, footer{
        display: flex;
        position: fixed;
        height: 80px;
        width: 100%;
        padding: 0;
        margin: 0;
        /*background-color: rgba(191, 199, 206, 0.7);*/
        background-color: rgba(255, 255, 255,0.7);
    }

    header{
        top: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #title{
        line-height: 75px;
        padding-left: 100px;
        font-size: 25px
    }

    #homeButton{
        line-height: 10px;
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }

    /*header .hamburger-menu {
        cursor: pointer;
        float: right;
        padding: 15px 30px 0 0;
    }

    header .hamburger-menu div {
        width: 35px; 
        height: 5px; 
        background-color: #333; 
        margin: 6px 0; 
    }*/

    #selecter_head{
        cursor: pointer;
        margin-left: auto;
        padding-top: 25px;
    }

    .selecter-item{
        padding-right: 60px;
        font-size: 25px;
    }

    footer{
        bottom: 0;
    }

    footer #copyRight{
        padding: 30px 0 0 100px;
        font-size: 20px;
    }

    #selecter_foot{
        cursor: pointer;
        margin-left: auto;
        padding: 30px 50px 0 0;

    }

    main{
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: rgb(245,245,245);
        min-height: calc(100vh - 80px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }