<!DOCTYPE html>
<html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/00_base.css">
        {% endblock %}
    </head>
    <body>
        <div id="nextPageData" data-next-page="{{ next }}"></div>
        <header>
            <div id="title">
                <h1>{{ _('EasyGrapher') }}</h1>
            </div>
            <!--<div class="hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>-->
            <div>
                <a href="/">
                    <img src="../static/images/homeButton.webp" id="homeButton" alt="Home">
                </a>
            </div>
            <div id="selecter_head">
                <a href="/howToUse?next=howToUse-home" id="selecter1" class="selecter-item">{{ _('How to use') }}</a>
                <a href="/termsOfUse?next=termsOfUse-home" id="selecter2" class="selecter-item">{{ _('Terms of Use') }}</a>
                <a href="/aboutThisSite?next=aboutThisSite-home" id="selecter3" class="selecter-item">{{ _('About this site') }}</a>
            </div>
        </header>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer>
            <p id="copyRight">© 2024 hirotsune All Rights Reserved.</p>
            <div id="selecter_foot">
                <a href="/faq?next=faq" id="selecter4" class="selecter-item">{{ _('FAQ') }}</a>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </body>
</html>
<!--
    cd ~/Desktop/プログラム/web練習/ExcelGrapher
    python3 setting.py compilemessages
    pybabel compile -d app/translations:翻訳のコンパイル
    pybabel extract -F babel.cfg -o messages.pot .:翻訳の抽出
    pybabel update -i messages.pot -d app/translations:poの更新
    手順：翻訳の抽出、poの更新、編集、コンパイル

    git merge main:ブランチを開いて実行すると、mainの変更を取り込める
    git merge 作業ブランチ名:マージ(マージされる側で行う)
    git push origin main:メインの更新
-->