<!DOCTYPE html>
<html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/00_base.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="title">
                <h1>{{ _('EasyGrapher') }}</h1>
            </div>
            <!--<div class="hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>-->
            <div id="selecter">
                <a href="/howToUse" class="selecter-item">{{ _('How to use') }}</a>
                <a href="/termsOfUse" class="selecter-item">{{ _('Terms of Use') }}</a>
                <a href="/aboutThisSite" class="selecter-item">{{ _('About this site') }}</a>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
<!--
    cd ~/Desktop/プログラム/web練習/ExcelGrapher
    python3 setting.py compilemessages
    pybabel compile -d app/translations:翻訳のコンパイル
    pybabel extract -F babel.cfg -o messages.pot .:翻訳の抽出
    pybabel update -i messages.pot -d app/translations:poの更新
    手順：翻訳の抽出、poの更新、編集、コンパイル

    git merge main:ブランチを開いて実行すると、mainの変更を取り込める
    git merge 作業ブランチ名:マージ(マージされる側で行う)
    git push origin main:メインの更新
-->