{% extends '00_base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/01_home.css">
{% endblock %}

{% block title %}{{ _('HomePage') }} | {{ _('EasyGrapher') }}{% endblock %}

{% block content %}
    {{ super() }}
    <form action="/upload?next=upload1" method="POST" enctype="multipart/form-data"></form>
        <div id="drop">
            <input type="file" id="fileElem" accept=".doc,.docx,.xls,.xlsx" style="display:none">
            <label for="fileElem" class="button">{{ _("Select file") }}</label>
        </div>
    </form>
{% endblock %}