{% extends '00_base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/04_answer.css">
{% endblock %}

{% block title %}{{ _('Customize page') }} | {{ _('EasyGrapher') }}{% endblock %}

{% block content %}
    {{ super() }}
    <img id="cus_graph" src="data:image/png;base64,{{ img_data }}" alt="Generated Graph">
    <select id="graph_type" hidden>
        <option value="bar">{{ _("bar graph") }}</option>
        <option value="line">{{ _("line graph") }}</option>
        <option value="hist">{{ _("hist graph") }}</option>
        <option value="box">{{ _("box graph") }}</option>
        <option value="area">{{ _("area graph") }}</option>
        <option value="pie">{{ _("pie graph") }}</option>
        <option value="scatter">{{ _("scatter graph") }}</option>
    </select>
    <div id="custom">
        <div id="inputSome">
            <input type="text" id="graph_title" placeholder="{{ _('Input name of title') }}">
            <input type="text" id="x_axis" placeholder="{{ _('Input name of X-label') }}">
            <input type="text" id="y_axis" placeholder="{{ _('Input name of Y-label') }}">
        </div>
        <button onclick="updateGraph()" id="customButton">{{ _("customize graph") }}</button>
        <button id="downloadButton">{{ _("Download") }}</button>
    </div>
    <script>var graphType = "{{ graph_type }}";</script>
    <script src="./script/04_answer.js"></script>
{% endblock %}